- house = HouseDecorator.new blocks_row.house
- e = EstimateDecorator.new blocks_row
.col-xs-12.col-md-4
  .house-offer{id: "house_#{house.id}", class: house.css_class}
    = link_to e.order_url, class: 'house' do
      = house.common_image class: 'img-responsive'
    = link_to e.order_url, class: 'desc' do
      %span.btn-block.title.size-18px.bold= house.title
      %span.btn-block.capacity.size-16px= house.capacity
      %br/
      %span.size-12px
        = house.resort.title
        ! &nbsp;
        %span.fontello-icon-address.distance
          %span.size-11px
            = house.distance
    = e.button
