- if @estimates.present?
  %section.houses-block.table-view
    .container
      - if header.present?
        %p.light-h2= header
      %table.table.table-striped
        %thead
          %tr
            %th= sortable_column('title')
            %th= sortable_column('distance')
            %th= sortable_column('capacity')
            %th= sortable_column('price_bd')
            %th= sortable_column('price_wd')
            %th
        %tbody
          = render partial: 'search/estimates_table_row', collection: @estimates
      = paginate @estimates
