= simple_form_for @search_form, url: search_url, method: :get, :html => {id: 'filter', class: 'collapse in', role: "form"} do |f|
  .page-filter
    .container
      .row
        .col-md-12
          = f.error_notification
          .form-group.col-md-2
            .row
              = f.label :date_from, class: 'col-xs-2'
              .col-xs-10.col-md-12
                = f.input_field :date_from, as: :date_picker, class: 'form-control', placeholder: I18n.l(Date.today, format: :words), type: "text"
          .form-group.col-md-2
            .row
              = f.label :date_to, class: 'col-xs-2'
              .col-xs-10.col-md-12
                = f.input_field :date_to, as: :date_picker, class: 'form-control', placeholder: I18n.l(Date.tomorrow, format: :words), type: "text"
          .form-group.col-md-1
            .row
              = f.label :people_quantity, class: 'col-xs-2'
              .col-xs-4.col-md-12
                = f.input_field :people_quantity, collection: people_quantity_collection, include_blank: false, class: 'form-control'
          .form-group.col-md-3
            .row.form-inline
              = f.label :price_to, class: 'col-xs-2'
              .col-xs-7.col-md-12
                .form-group
                  = f.input_field :price_to, collection: prices_collection, include_blank: false, class: 'form-control'
          .form-group.col-md-2.col-md-offset-2.visible-md.visible-lg
            .row
              .col-xs-12.text-right
                %button.btn.btn-default.btn-lg.btn-filter-comfort{type: "button", data: {toggle: 'collapse', target: "#comfort-list", text: 'скрыть удобства'} } выбрать удобства
          %p.clearfix
          .row#comfort-list.collapse
            .col-xs-6.col-md-2
              %input#Checkbox1{checked: "checked", type: "checkbox", value: "Баня"}/
              %label.checkbox{for: "Checkbox1"}
                %span
                Баня
              %input#Checkbox2{type: "checkbox", value: "Рядом лес"}/
              %label.checkbox{for: "Checkbox2"}
                %span
                Рядом лес
              %input#Checkbox3{type: "checkbox", value: "Wi-Fi"}/
              %label.checkbox{for: "Checkbox3"}
                %span
                Wi-Fi
            .col-xs-6.col-md-2
              %input#Checkbox4{type: "checkbox", value: "Мангал"}/
              %label.checkbox{for: "Checkbox4"}
                %span
                Мангал
              %input#Checkbox5{type: "checkbox", value: "Телевизор"}/
              %label.checkbox{for: "Checkbox5"}
                %span
                Телевизор
              %input#Checkbox6{type: "checkbox", value: "Рыжая баба"}/
              %label.checkbox{for: "Checkbox6"}
                %span
                Рыжая баба
            .col-xs-6.col-md-2.visible-md.visible-lg
              %input#Checkbox11{checked: "checked", type: "checkbox", value: "Баня"}/
              %label.checkbox{for: "Checkbox11"}
                %span
                Баня
              %input#Checkbox12{type: "checkbox", value: "Рядом лес"}/
              %label.checkbox{for: "Checkbox12"}
                %span
                Рядом лес
              %input#Checkbox13{type: "checkbox", value: "Wi-Fi"}/
              %label.checkbox{for: "Checkbox13"}
                %span
                Wi-Fi
            .col-xs-6.col-md-2.visible-md.visible-lg
              %input#Checkbox14{type: "checkbox", value: "Мангал"}/
              %label.checkbox{for: "Checkbox14"}
                %span
                Мангал
              %input#Checkbox15{type: "checkbox", value: "Телевизор"}/
              %label.checkbox{for: "Checkbox15"}
                %span
                Телевизор
              %input#Checkbox16{type: "checkbox", value: "Рыжая баба"}/
              %label.checkbox{for: "Checkbox16"}
                %span
                Рыжая баба
  .container
    .row
      .col-xs-12.col-md-4.col-md-offset-4
        = f.submit 'Найти', class: 'btn btn-success bold btn-block btn-filter', disable_with: 'Ищу...'
