= simple_form_for @house_order, url: houses_path, html: {class: 'form-horizontal', role: 'order-form'} do |f|
  = f.error_notification
  .buy-form.mobile-minus
    %p.light-h2.visible-xs.visible-sm Заказ дома
    = f.hidden_field :money_amount
    .row
      .col-md-4
        .form-group
          = f.label :date_from, class: 'col-xs-2', required: false
          .col-xs-10.col-md-12.pr0
            = f.input_field :date_from, required: false, as: :date_picker, placeholder: I18n.l(Date.today, format: :words), role: 'estimate_sensitive', class: 'form-control'
      .col-md-4
        .form-group
          = f.label :date_to, class: 'col-xs-2', required: false
          .col-xs-10.col-md-12.pr0
            = f.input_field :date_to, required: false, as: :date_picker, placeholder: I18n.l(Date.tomorrow, format: :words), role: 'estimate_sensitive', class: 'form-control'
      .col-md-4
        .form-group
          = f.label :people_quantity, class: 'col-xs-2', required: false
          .col-xs-4.col-md-12
            = f.input_field :people_quantity, collection: people_quantity_collection(house), include_blank: false, role: 'estimate_sensitive', class: 'form-control'
      .col-md-12
        = f.error :dates
    .form-group
      = f.label :name, class: 'col-xs-12 hidden'
      .col-xs-12
        = f.input_field :name, placeholder: 'Ваше имя', required: false, role: 'name', class: 'form-control', autofocus: :autofocus
        = f.error :name
    .form-group
      = f.label :phone, class: 'col-xs-12 hidden'
      .col-xs-12
        = f.input_field :phone, placeholder: 'Контактный телефон', required: false, class: 'masked_phone form-control', role: 'phone', maxlength: ""
        = f.error :phone

    = f.hidden_field :house_id, value: house.id

  .buy-button.mobile-minus.mb20
    .col-xs-10.col-xs-offset-1
      = f.button :submit, class: 'btn btn-success btn-block bold', value: 'Заказать', data: {disable_with: 'Заказываю...'}, role: 'order_submit'