- if is_mobile_device?
  = render 'filter_mobile'
- else
  = render 'filter'

.affix-wrapper.filter.collapse.in
  = render 'filter_form'


%div{class: "houses-found #{houses_view_mode}-view"}
  .container
    - if params[:search_form]
      %h4 #{@matched_houses} из #{@all_houses} домов удовлетворяют вашему запросу
= render partial: "search/estimates_#{houses_view_mode}", locals: {header: ''}
