- if is_mobile_device?
  = render 'filter_mobile'
- else
  = render 'filter'

.affix-wrapper.filter.collapse.in
  = render 'filter_form'


%div{class: "houses-found #{houses_view_mode}-view"}
  .container
    = search_result_message
= render partial: "search/#{houses_view_mode}", locals: {header: ''}
