.page-header
  %h1= @house.title

%p
  = @house.description
  %hr
  Цена в будни:
  = format_money @house.price_bd
  %br
  Цена на выходные:
  = format_money @house.price_wd
  %br
  Цена в будни за час:
  = format_money @house.price_bd_hour


%ul
  - @house.images.each do |image|
    %li= image_tag image.file.thumb.url
