%section.zakaz-doma.visible-xs.visible-sm
  .container
    .row
      .col-xs-12
        %a.size-1-1.col-xs-10.col-xs-push-1.zakaz.bold{href: "#new_house_order"} Заказать этот дом
%section.house-main-content
  .container
    .row
      .col-xs-12.col-md-8.mb90
        %p.size-12px.visible-xs.visible-sm.mt15
          = @house.resort.title
          ! &nbsp;
          %span.fontello-icon-address.distance
            %span.size-11px
              = distance @house.resort.distance
        .size-20px.bold.visible-xs.visible-sm.mb30= @house.title

        .row
          %h1.size-25px.bold.visible-md.visible-lg.mt30.mb20.col-md-8
            Снять
            = @house.title
        %p.size-12px.mb20.visible-md.visible-lg
          = @house.resort.title
          ! &nbsp;
          %span.fontello-icon-address.distance
            %span.size-11px
              = distance @house.resort.distance
        .clearfix.mobile-minus.choice.nav-tabs
          %a.col-xs-6.active{href: "#house-carousel-tab", data: {toggle: 'tab'} }
            %i.fontello-icon-picture
            Фотографии
          %a.col-xs-6{href: "#house-maps-tab", data: {toggle: 'tab'} }
            %i.fontello-icon-globe
            Карта
        .tab-content.mb40
          .tab-pane#house-carousel-tab.active
            = render 'carousel', images: @house.images.ordered
          .tab-pane#house-maps-tab
            = @house.resort.map_iframe.html_safe
        .row.visible-xs.visible-sm.mb20
          = render 'houses/detail/xs_prices'

        %table.table
          %tr
            %td.size-14px.bgrey
              Вместимость
            %td.size-16px.bold
              = @house.capacity
          %tr
            %td.size-14px.bgrey
              Количество комнат
            %td.size-16px.bold
              = @house.rooms_count
        .desc.size-12px-m.mb20
          = simple_format @house.description
        = render 'houses/detail/comfort'

      .sidebar.col-xs-12.col-md-4
        = @house.admin_link
        = render 'houses/detail/prices'
        = render 'order', house: @house.source
        = render 'application/sidebar/phone'
        = render 'application/sidebar/socials'
        = render 'application/sidebar/also'

= render_cell :similar_houses, :show, house: @house.source
= render 'houses/detail/resort'
