.page-header
  %h1= @house.title
  %small= link_to @house.resort.title, resort_url(@house.resort)


.row
  .col-sm-6
    = render 'fotorama', images: @house.images.ordered
  .col-sm-6
    = render 'socials'
    = render 'houses/prices', house: @house
    = render 'orders/form', house: @house.source

.row
  .col-sm-6
    -#.col-md-8
    = simple_format @house.description
  .col-sm-6
    = @house.resort.map_iframe.html_safe
