.page-header
  %h1= @house.title
  %small= link_to @house.resort.title, resort_url(@house.resort)

= render 'orders/form', house: @house
= render 'fotorama', images: @house.images.ordered
.row
  .col-sm-6.col-md-8

    %p
      = @house.description
      %hr
      Цена в будни:
      = @house.price_bd
      %br
      Цена на выходные:
      = @house.price_wd
      %br
      Цена в будни за час:
      = @house.price_bd_hour


.row
  .col-sm-12
    = @house.resort.map_iframe.html_safe
