%section.base-block
  .container
    .row
      .col-xs-12.col-md-6
        .reg-h2.mb20= @house.resort.title
        %table.table
          %tr
            %td.size-12px.bgrey
              Расстояние
            %td.bold
              = distance @house.resort_distance
          %tr
            %td.size-12px.bgrey
              Стоимость
            %td.bold
              = @house.resort_price_range
          %tr.visible-lg.visible-md
            %td.size-12px.bgrey
              Сайт
            %td
              = @house.resort_site
        .size-12px.mb20
          %span.visible-xs
            != @house.resort.summary
          %span.visible-lg.visible-md
            != @house.resort.description
        %table.table.visible-xs.visible-sm
          %tr
            %td.size-12px.bgrey
              Рассказать друзьям
            %td.bold
              = render 'socials'
