%section.base-block
  .container
    .row
      .col-xs-12.col-md-6
        .reg-h2.mb20= @house.resort.title
        %table.table
          %tr
            %td.size-12px.bgrey
              Расстояние
            %td.bold
              = distance @house.resort.distance
          %tr
            %td.size-12px.bgrey
              Стоимость
            %td.bold
              = @house.price
          %tr.visible-lg.visible-md
            %td.size-12px.bgrey
              Сайт
            %td
              = link_to @house.resort.site
        .size-12px.mb20
          != @house.resort.summary
          %span.visible-lg.visible-md
            != @house.resort.description
        %table.table.visible-xs.visible-sm
          %tr
            %td.size-12px.bgrey
              Рассказать друзьям
            %td.bold
              = render 'socials'
              / %span.pull-right
              /   %a.fontello-icon-twitter.icon.bgrey{href: "#"}
              /   %a.fontello-icon-facebook.icon.bgrey{href: "#"}
              /   %a.fontello-icon-vkontakte.icon.bgrey{href: "#"}