= simple_form_for order_form, html: {class: 'form-horizontal', role: "form", role: 'order-form'} do |f|
  .buy-form.mobile-minus
    %p.light-h2.visible-xs.visible-sm Заказ дома
    = f.error_notification
    = f.error :dates
    = f.input_field :money_amount, as: :hidden
    .row
      .col-md-4
        .form-group
          = f.label :date_from, class: 'col-xs-2', required: false
          .col-xs-10.col-md-12.pr0
            = f.input_field :date_from, required: false, as: :date_picker, placeholder: I18n.l(Date.today, format: :words), role: 'estimate_sensitive', class: 'form-control'
      .col-md-4
        .form-group
          = f.label :date_to, class: 'col-xs-2', required: false
          .col-xs-10.col-md-12.pr0
            = f.input_field :date_to, required: false, as: :date_picker, placeholder: I18n.l(Date.tomorrow, format: :words), role: 'estimate_sensitive', class: 'form-control'
      .col-md-4
        .form-group
          = f.label :people_quantity, class: 'col-xs-2', required: false
          .col-xs-4.col-md-12
            = f.input_field :people_quantity, collection: people_quantity_collection(house), include_blank: false, role: 'estimate_sensitive', class: 'form-control'
    .form-group
      = f.label :name, class: 'col-xs-12 hidden'
      .col-xs-12
        = f.input_field :name, placeholder: 'Ваше имя', required: false, role: 'name', class: 'form-control'
    .form-group
      = f.label :phone, class: 'col-xs-12 hidden'
      .col-xs-12
        = f.input_field :phone, placeholder: 'Контактный телефон', required: false, class: 'masked_phone form-control', role: 'phone'

    .form-group.form_input_block
      .col-md-10
        = f.label :use_transport, I18n.t("simple_form.labels.defaults.use_transport", price: @house.transfer_price)
      .col-md-2{style: "margin-top: -7px;"}
        = f.input_field :use_transport, as: :boolean, role: 'estimate_sensitive'

    = f.input_field :house_id, as: :hidden, value: house.id

    .form-group.form_input_block
      .col-md-2
        %b Итого:
      .col-md-2{style: "font-size: 1.25em"}
        %span#order_price
  .buy-button.mobile-minus.mb20
    .col-xs-10.col-xs-offset-1
      = f.button :submit, class: 'btn btn-success btn-block bold', value: 'Заказать за 6000 р.', disable_with: 'Заказываю..', role: 'order_submit'