%div.order_block
  %h2 Заказать дом
  = simple_form_for order_form, html: {class: 'form-horizontal', role: "form"}, wrapper: :order do |f|
    = f.error_notification
    %h5.form_split Количество гостей и время пребывания
    .form-group
      %label Даты пребывания
      %br
      = f.input_field :date_from, as: :date_picker, placeholder: 'приезд', role: 'estimate_sensitive'
      = f.input_field :date_to, as: :date_picker, placeholder: 'отъезд', role: 'estimate_sensitive'
      = f.error :dates
    .form-group.form_input_block
      .col-md-5
        = f.label :people_quantity
      .col-md-3
        = f.input_field :people_quantity, collection: people_quantity_collection(house), include_blank: false, role: 'estimate_sensitive'

      = f.input_field :money_amount, as: :hidden

    %h5.form_split Питание и транспорт
    .form-group.form_input_block
      .col-md-10
        = f.label :use_transport, I18n.t("simple_form.labels.defaults.use_transport", price: @house.transfer_price)
      .col-md-2{style: "margin-top: -7px;"}
        = f.input_field :use_transport, as: :boolean, role: 'estimate_sensitive'

    = f.input :food_state, label: 'Питание', collection: food_states_collection, include_blank: false, as: :radio_buttons, input_html: {role: 'estimate_sensitive'}
    = f.input_field :house_id, as: :hidden, value: house.id

    .form-group.form_input_block
      .col-md-2
        %b Итого:
      .col-md-2{style: "font-size: 1.25em"}
        %span#order_price

    %h5.form_split Контактные данные

    = f.input :name, placeholder: 'Иван Петров'
    = f.input :phone, placeholder: '+7 (905) 123-45-67', input_html: {class: 'masked_phone'}
    

    .form-actions
      = f.button :submit, :class => 'btn-primary', value: 'Заказать', :isabled_with: 'Заказываю..'
