= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, label: false, placeholder: 'Ваше Имя', input_html: { class: 'input-xlarge form-control'}
    = f.input :date_from
    = f.input :date_to
    = f.input :people_quantity, collection: people_quantity_collection(house), include_blank: false
    = f.input :phone, label: false, placeholder: 'Телефон', input_html: { class: 'input-xlarge form-control'}
  .form-actions
    = f.button :submit, :class => 'btn-primary', value: 'Заказать'
