%section
  .container
    .row
      .col-xs-12.col-md-8
        %h1 Заказ №#{@order.id}
        %p
          %b На имя:
          = @order.name
        %p
          %b Ваш телефон:
          = @order.view_phone
        - if @order.email
          %p
            %b Электронная почта:
            = @order.email
        %p
          %b Время пребывания:
          = @order.stay_dates
        %p
          %b Всего отдыхающих:
          = @order.people_quantity
        %p
          %b Итого:
          = @order.money_amount
