%section.food
  .container
    .row
      .col-xs-12.col-md-8
        .meat.mb20.mobile-minus{style: "background-image: url('#{@page.preview.file.standard.url}')" }
          %p.size-20px.bold
            Еда и выездное
            %br/
            обслуживание
          %div.visible-xs.visible-sm
            %a.btn.btn-success{href: "#new_order"} Заказать еду
        .desc.mb40
          != @page.body
        .mb40
          - if @page.carousel
            = render 'images'
      .col-xs-12.col-md-4
        .right-price.visible-lg.visible-md.text-center
          .bold.size-18px
            Закажите доставку еды
            %br/
        = render 'pages/forms/food'
        = render 'application/sidebar/phone'
        = render 'application/sidebar/socials'
