%section.food
  .container
    .row
      .col-xs-12.col-md-8
        .meat.mb20.mobile-minus{style: "background-image: url('#{@page.preview.file.standard.url}')" }
          %p.size-20px.bold
            Сдать дом
            %br/
            в аренду
          %div.visible-xs
            %a.btn.btn-success{href: "#new_order"} Сдать в аренду
        .desc.mb40
          != @page.body
        .row.mb40
          .col-xs-12.mb20
          - if @page.carousel
            = render 'images'
      .col-xs-12.col-md-4
        .right-price.visible-lg.visible-md.text-center
          .bold.size-18px
            Предложите аренду
            %br/
        = render 'pages/forms/rent'
        = render 'application/sidebar/phone'
        = render 'application/sidebar/socials'
