%h2
  Заказ дома
%p= link_to 'в админке', @order.admin_url
%p
  %b На имя:
  = @order.name
%p
  %b База отдыха:
  = @order.resort
  = @order.house
%p
  %b Контактный телефон:
  = @order.phone
%p
  %b Время пребывания:
  #{@order.stay_dates}
%p
  %b Всего отдыхающих:
  = @order.people_quantity
%p
  %b Итого:
  = @order.money_amount
