%h2
  Новый заказ на #{@site}
%p= link_to 'в админке', admin_order_url(@order)
%p
  %b На имя:
  = @order.name
%p
  %b Контактынй телефон:
  = @order.phone
%p
  %b Время пребывания:
  с #{@order.date_from} по #{@order.date_to}
%p
  %b Всего отдыхающих:
  = @order.people_quantity
%p
  %b Оплата транспорта:
  = @order.transport
%p
  %b Питание:
  = @order.food
%p
  %b Итого:
  = @order.money_amount