%h2
  Новый заказ
%p= link_to 'в админке', admin_order_url(@order)
%p
  %b На имя:
  = @order.name
%p
  %b База отдыха:
  = @order.resort.title
  = @order.house.title
%p
  %b Контактный телефон:
  = @order.phone
%p
  %b Время пребывания:
  с #{@order.date_from} по #{@order.date_to}
%p
  %b Всего отдыхающих:
  = @order.people_quantity
%p
  %b Итого:
  = @order.money_amount
