= simple_form_for @order, url: page_path(:photo), html: {class: 'form-horizontal', role: 'order-form'} do |f|
  = f.error_notification
  = f.hidden_field :type, value: 'PhotoOrder'
  %input{:type => "hidden", :name => "slug", :value => "photo"}
  .buy-form.mobile-minus
    .form-group
      .col-xs-12
        = f.input_field :date_from, required: false, as: :time_picker, placeholder: "Дата и время визита", class: 'form-control'
        = f.error :date_from
    .form-group
      = f.label :name, class: 'col-xs-12 hidden'
      .col-xs-12
        = f.input_field :name, placeholder: 'Ваше имя', required: false, role: 'name', class: 'form-control'
        = f.error :name
    .form-group
      = f.label :phone, class: 'col-xs-12 hidden'
      .col-xs-12
        = f.input_field :phone, placeholder: 'Контактный телефон', required: false, class: 'masked_phone form-control', role: 'phone', maxlength: ""
        = f.error :phone
  .buy-button.mobile-minus.mb20
    .col-xs-10.col-xs-offset-1
      = f.button :submit, class: 'btn btn-success btn-block bold', value: 'Заказать', data: {disable_with: 'Заказываю...'}, role: 'order_submit'
