%table.table.table-condensed
  %thead
    %tr
      %th Дом
      %th Описание
      %th Расстояние
      %th
        Цена
        %br
        %small.text-muted (будни/выходные)
      %th Вместимость
      %th Заказ

  %tbody
    - @houses.each do |house|
      - house = HouseDecorator.new house
      %tr{id: "house_#{house.id}"}
        %td
          = link_to house_url(house) do
            = house.preview_image
        %td.house_summary
          = link_to house_url house do
            %h3= house.title
            %div= house.resort.title
          %p
            %i= simple_format house.summary
        %td= house.distance
        %td= house.price
        %td= house.capacity
        %td
          = link_to 'Заказать', house_url(house), class: 'btn btn-success'


