%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Дом
      %th Описание
      %th= sortable_column :distance
      %th= sortable_column :price
      %th= sortable_column :capacity
      %th Заказ
  %tbody
    - @houses.each do |house|
      - house = HouseDecorator.new house
      %tr{id: "house_#{house.id}", class: "#{house.css_class} clickable_tr", 'data-url' => house_url(house)}
        %td
          = link_to house_url(house) do
            = house.preview_image
        %td.house_summary
          = link_to house_url house do
            %h3= house.title
            %div= house.resort.title
          %p
            %i= simple_format house.summary
        %td= house.distance
        %td= house.price
        %td= house.capacity
        %td
          = link_to 'Снять', house_url(house), class: 'btn btn-success'

= paginate @houses if @houses.respond_to? :current_page


