%table.table.table-condensed
  %thead
    %tr
      %th Дом
      %th Описание
      %th Расстояние
      %th Цена в будни
      %th Цена в выходные
      %th Вместимость
      %th Заказ

  %tbody
    - @houses.each do |house|
      - house = HouseDecorator.new house
      %tr{id: "house_#{house.id}"}
        %td
          = link_to house_url(house) do
            = house.preview_image
        %td
          = link_to resort_url(house.resort) do
            %h3= house.resort.title
          = link_to house_url(house) do
            = house.title
          %p
            %i= simple_format house.summary
        %td
          = house.distance
          = house.time
        %td= house.price_bd
        %td= house.price_wd
        %td= house.capacity
        %td
          = link_to 'Заказать', '#', class: 'btn btn-success'


