.row.isotope.no-transition
  - @resorts.each do |resort|
    - resort = ResortDecorator.new resort
    .col-sm-6.col-md-4.isotope-item
      .thumbnail
        = render 'carousel', images: resort.images, version: :common
        .caption
          = link_to resort_url(resort) do
            %h3= resort.title
          %p= simple_format resort.summary

          %p= resort.button

:javascript
window.resorts_count = ParseInt #{@resorts.count}
window.fororamas_ready = 0;
$(function(){
  $('.fotorama').on('fotorama:ready', function () {
    window.fororamas_ready++;
    if (window.fotoramas_ready == window.resorts_count){
      $('.isotope').isotope();
    }
  });
})
