= simple_form_for @search_form, url: search_url, method: :get, :html => { :class => 'search-form form-vertical' } do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-sm-3.search-form-date
        = f.input :date_from, as: :date_picker, label: 'Прибытие', class: 'form-control'
      .col-sm-3.search-form-date
        = f.input :date_to, as: :date_picker, label: 'Выезд'
      .col-sm-2
        = f.input :people_quantity, collection: people_quantity_collection, include_blank: false, label: 'Гостей'
      .col-sm-4
        = f.button :submit, :class => 'btn-success btn btn-lg btn-block search-btn', value: 'Найти'