= simple_form_for @search_form, url: houses_url, method: :get, :html => {class: 'col-md-10 col-md-offset-1', role: "form"} do |f|
  = f.error_notification
  .form-group.col-md-2
    .row
      = f.label :date_from, class: 'col-xs-2'
      .col-xs-10.col-md-12
        = f.input_field :date_from, as: :date_picker, class: 'form-control', value: I18n.l(Date.today, format: :dots_separated), type: "text"
  .form-group.col-md-2
    .row
      = f.label :date_to, class: 'col-xs-2'
      .col-xs-10.col-md-12
        = f.input_field :date_to, as: :date_picker, class: 'form-control', value: I18n.l(Date.tomorrow, format: :dots_separated), type: "text"
  .form-group.col-md-2
    .row
      = f.label :people_quantity, class: 'col-xs-2'
      .col-xs-5.col-md-12
        = f.input_field :people_quantity, collection: people_quantity_collection, include_blank: false, class: 'form-control'
  .form-group.col-md-3
    .row
      = f.label :price_to, class: 'col-xs-2'
      .col-xs-7.col-md-12
        = f.input_field :price_to, collection: prices_collection, include_blank: false, class: 'form-control'
  .form-group.col-md-3
    .row
      .col-xs-12
        = f.submit 'Найти', class: 'btn btn-success btn-lg bold size-16px col-xs-12', data: {disable_with: 'Ищу...'}
