%section
  .container
    .row
      .col-xs-12.col-md-8
        %h1= @resort.title

        = @resort.tags_block

        = render 'carousel', images: @resort.images.ordered

        = render 'socials'
        .row
          .col-sm-6.col-md-8
            = @resort.admin_link
            %p
              %b Расстояние до базы:
              = @resort.distance
            %p
              %b Стоимость проживания в день:
              = @resort.price
            %p
              %b Сайт:
              = link_to @resort.site, @resort.site

            = simple_format @resort.description

        = render 'houses', houses: @houses
        .row
          .col-sm-12
            = @resort.map_iframe.html_safe

