%footer.footer.application-footer
  .container
    = render 'services/services_footer'
    %hr
    .row
      .col-md-6.text-center
        %h3.no-margin-top
          = link_to Settings.app.title.html_safe, root_url, :class => 'footer-brand'
        = phrase :footer_subtitle
      .col-md-6.text-center
        %h3.no-margin-top.footer-phone
          %strong= link_to Settings.app.phone.html_safe, "tel:#{Settings.app.phone.html_safe}"
        = phrase :footer_subphone
        &nbsp;
        %small.muted= app_version
