%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Settings.app.title.html_safe, root_url, :class => 'navbar-brand'
      %ul.nav.nav-pills
        %li.hidden-xs.hidden-sm.navbar-slogan
          %p= Settings.app.slogan.html_safe
        %li.left-line.visible-lg
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %span= current_city.title
            %i.fontello-icon-down-open-mini
          %ul.dropdown-menu
            - City.find_each do |city|
              %li
                %a{href: "?city=#{city.id}"}= city.title
        %li.left-line.visible-lg
        %li.hidden-xs.hidden-sm
          %p
            %span.glyphicon.glyphicon-earphone
            = link_to "tel:#{Settings.app.phone.html_safe}" do
              = Settings.app.phone.html_safe
        %li.visible-xs.visible-sm
          %p
            = link_to '', "tel:#{Settings.app.phone.html_safe}", class: 'glyphicon glyphicon-earphone'
    .collapse.navbar-collapse.navbar-ex1-collapse
      = render_navigation :expand_all => true, :renderer => :bootstrap
