.navbar.application-navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Settings.app.title.html_safe, root_url, :class => 'navbar-brand'
    .navbar-header.hidden-sm.hidden-xs
      .navbar-brand
        %small.text-muted
          Чебоксары
          &nbsp;&nbsp;
          = link_to "tel:#{Settings.app.phone.html_safe}", class: 'gray-light-link' do
            = ficon 'phone-1'
            = Settings.app.phone.html_safe

    .collapse.navbar-collapse
      = render_navigation :expand_all => true, :renderer => :bootstrap

